@import url('https://fonts.googleapis.com/css?family=Poppins:regular,700');

html {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.logo-container {
	width: 70%;
}

.qr-container, .logo-container, .button-container {
	max-width: 512px;
	margin: 25px auto;
	text-align: center;
}
p {
	text-align: left;
}

#qr_image {
	width: 100%;
}

.button-container img {
	width: 30%;
	max-width: 50px;
	margin: 10px 30px;
}

.black {
	filter: invert(100%);
	background: #000;
}
.black .logo-container {
	filter: invert(100%);
	color: white;
}