@import url('https://fonts.googleapis.com/css?family=Poppins:regular,700');

html {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

.logo {
	width: 70%;
}

.img-container, .logo, .button-container {
	max-width: 512px;
	margin: 25px auto;
	text-align: center;
}

.img {
	width: 100%;
}

.black {
	filter: invert(100%);
	background: #000;
}
.black .logo {
	filter: invert(100%);
	color: white;
}

.button-container img {
	width: 30%;
	max-width: 50px;
	margin: 10px 30px;
}